<div class="tab-pane active" id="tab_1_1">
    <%= bootstrap_form_for(@user) do |f| %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
        <%= f.text_field :email, class: 'form-control', placeholder: "employee@ezeratech.com" %>
        <%= f.text_field :contact_number, class: 'form-control', placeholder: "010-1234567" %>
        <%= f.text_field :date_of_birth, class: 'form-control', placeholder: "31 August 1957" %>
        <%= f.text_area :about, class: 'form-control', placeholder: "We are EzeraTech Nerd!!!" %>
        <%= f.text_field :interests, class: 'form-control', placeholder: "Hiking, Eating, Sleeping, etc." %>
        <%= f.text_field :position, class: 'form-control', placeholder: "Junior Developer" %>
        <%= f.submit 'Save Changes', class: 'btn green'%>
        <%= link_to 'Cancel', user_path(@user), class: 'btn default'%>
    <% end -%>
</div>